/*  your css code here. If applicable */
*{
	background-color:#f5f5f5;
	padding:10px;
}
#box1{
	border:1px solid white;
	background-color:white;
	padding:10x;
}

#box2{
	border:1px solid white;
	background-color:white;
	padding:10x;
}
