.testimonial-container{
	background-color:#f5f5f5;
	padding:10px;
	margin:0 auto;
}
.author{
	text-align:right;
	font-style:italic;
	margin:0px;
}
.testimonial{
	border:1px solid #ddd;
	padding:2px;
	background-color:white;
	margin-bottom:10px;
	
}
.testimonial2{
	border:1px solid #ddd;
	padding:2px;
	background-color:white;
	margin-bottom:10px;
	
}